

<%= link_to pins_path do %>
        <span style="color: white;" class="glyphicon glyphicon-chevron-left"> Back</span>
 <% end %>
 <p></p>
<div class="panel panel-default">
	<div class="panel-heading">	
		<h1>New Story</h1>
	</div>	

<%= render 'form' %>

</div>