
<div class="jumbotron text-center">
	<h2>Featuring Awesome Entrepreneurs</h2>

	<p>
		<%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
	</p>

	<h2>Sign up to contribute.</h2>

</div>

<div class="text-center">

<h1 class="well">Contributing is Easy!  <%= link_to "Learn How", about_path, class: "btn btn-primary btn-lg" %></h1>

</div>