
<div class="about">

	<h1> There are 4 parts to each post:</h1>
	<br>

	<p class="lead">Name: This is obvious. Name the entrepreneur you want to discuss.</p>

	<br>
	<p class="lead">Quote: I think all great entrepreneurs have great quotes. Share one but don't make it too long because it'll break the website - not kidding.</p>
	<br>

	<p class="lead">Image: A picture tells a thousand words. This can be their picture or something more creative.</p>
	<br>

	<p class="lead">Significance: This is simply an explanation of why you think the entrepreneur is awesome.</p>
	<br>

	<h2>Have fun with it. The experience is worth it.</h2>