
<div class="about">
	<h1>What does it take to be an awesome entrepreneur?</h1>
	<br/>

	<p class="lead">I'd like to say I aspire to be one but obviously that's not going to happen tomorrow. I like the security of a full time job and workig for the man. I don't like everything about it but it's definitely comfortable. In saying that I love reading about those that are crazy enough to start something on their own. Their stories are always a hero's journey - overcoming obstacles, successes, failures and saying a big fuck you to the man. I created this to that I can share the stories I love the most.</p>

	<p class="lead">I'd like others to share stories they think are awesome. I made posting super easy. There are 4 aspects to each post:</p>

	<p class="lead">Name: This is obvious. Name the entrepreneur you want to discuss.</p>

	<p class="lead">Quote: I think all great entrepreneurs have great quotes. Share one.</p>

	<p class="lead">Image: A picture tells a thousand words. This can be their picture or something more creative.</p>

	<p class="lead">Story: This doesn't have to be a story or more a description about why you think this entrepreneur is cool.</p>

	<h2>Have fun with it. The experience is worth it.</h2>